<!DOCTYPE html>
<!-- app/templates/order_form.j2 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L337 P1zz4 Sh0p</title>
    <link rel="icon" href="/static/img/pizza_slice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<main>
    <h1>L337 P1zz4 Sh0p</h1>
    <form id="orderForm">
        <div class="input-group">
            <input type="text" id="orderName" placeholder="Order Name" minlength="2" maxlength="100" required>
            <input type="text" id="phoneNumber" placeholder="Phone Number" required pattern="[0-9]{10}">
        </div>
        <div class="selection-group">
            <select id="pizzaSize" required>
                <option value="" disabled selected>Select Size</option>
                {% for size in pizza_sizes %}
                    <option value="{{ size.id }}">{{ size.name }} - ${{ size.price }}</option>
                {% endfor %}
            </select>
            <select id="pizzaStyle" required>
                <option value="" disabled selected>Select Style</option>
                {% for style in pizza_styles %}
                    <option value="{{ style.id }}">{{ style.name }} - Add ${{ style.price }}</option>
                {% endfor %}
            </select>
            <select id="toppings" multiple required>
                <option value="" disabled selected>Select Toppings</option>
                <option value="">None</option>
                {% for topping in toppings %}
                    <option value="{{ topping.id }}">{{ topping.name }} - Add ${{ topping.price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="order-total">
            <label for="orderTotal">Order Total: </label>
            <span id="orderTotal">$0.00</span>
        </div>
        <div id="submit-Form">
            <button type="submit" id="submitOrder">Place Order</button>
        </div>
        <br/>
        <div id="reset-Form">
            <button type="reset" id="resetForm">Reset Form</button>
        </div>
    </form>
    <!-- Modal Structure -->
    <div id="confirmationModal" class="modal">
        <!-- Modal Content Part -->
        <div class="modal-content">
            <h1>Confirm Order</h1>
            <p id="modalOrderDetails"></p>
            <div class="order-total">
                <p id="modalOrderTotal"></p>
            </div>
            <div class="modal-footer">
                <button id="cancelOrder" class="modal-close">Cancel</button>
                <button id="confirmOrder" class="modal-close">Confirm Order</button>
            </div>
        </div>
    </div>
</main>
{% include 'footer.j2' %}
<script src="/static/js/order_form.js"></script>
</body>
</html>
