<!DOCTYPE html>
<!-- app/templates/order_view.j2 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Orders</title>
    <link rel="icon" href="/static/img/pizza_slice.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<main>
    <h1>Pending Orders</h1>
    <div id="ordersContainer">
    </div>
</main>
{% include 'footer.j2' %}
</body>
<script src="/static/js/order_view.js"></script>
</html>
