<!DOCTYPE html>
<!-- app/templates/order_form.j2 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L337 P1ZZ4 SH0P</title>
    <link rel="stylesheet" href="/static/dist/common.css">
    <script src="/static/dist/order_form.js" type="module"></script>
</head>
<body>
<main class="container mt-5">
    <h1 class="text-center mb-4">L337 P1ZZ4 SH0P</h1>
    <form id="orderForm">
        <div class="mb-3">
            <label for="orderName" class="form-label">Order Name:</label>
            <input type="text" class="form-control" id="orderName" placeholder="Enter Order Name" minlength="2"
                   maxlength="100" required>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" required
                   pattern="[0-9]{10}">
        </div>
        <div class="mb-3">
            <label for="pizzaSize" class="form-label">Pizza Size:</label>
            <select id="pizzaSize" class="form-select" required>
                <option value="" disabled selected>Select Size</option>
                {% for size in pizza_sizes %}
                    <option value="{{ size.id }}">{{ size.name }} - ${{ size.price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="pizzaStyle" class="form-label">Pizza Style:</label>
            <select id="pizzaStyle" class="form-select" required>
                <option value="" disabled selected>Select Style</option>
                {% for style in pizza_styles %}
                    <option value="{{ style.id }}">{{ style.name }} - Add ${{ style.price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="toppings" class="form-label">Toppings:</label>
            <select id="toppings" class="form-select" multiple required>
                <option value="" disabled selected>Select Toppings</option>
                <option value="">None</option>
                {% for topping in toppings %}
                    <option value="{{ topping.id }}">{{ topping.name }} - Add ${{ topping.price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 text-center">
            <p class="lead">Order Total: <strong><span id="orderTotal">$0.00</span></strong></p>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" id="submitOrder">Place Order</button>
            <button type="reset" class="btn btn-secondary" id="resetForm">Reset Form</button>
        </div>
    </form>
</main>
{% include 'footer.j2' %}
</body>
</html>
