<!DOCTYPE html>
<!-- app/templates/order_view.j2 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L337 P1ZZ4 SH0P: 0RD3R5</title>
    <link rel="stylesheet" href="/static/dist/common.css">
    <script src="/static/dist/order_view.js" type="module"></script>
</head>
<body>
<main class="container mt-4">
    <h1 class="mb-3 text-center">Pending Orders</h1>
    <div>
        <small class="text-muted">
            Order Count: <span id="orderCount">
                <!-- order count inserted here -->
            </span><br/>
            Connection Count: <span id="connectionCount">
                <!-- connection count inserted here -->
            </span>
        </small>
    </div>
    <div id="ordersContainer" class="row">
        <!-- Orders dynamically inserted here via JavaScript -->
    </div>
</main>
{% include 'footer.j2' %}
</body>
</html>
